PORT=3001
MONGODB_URI=mongodb://localhost:27017/couplesconnect
CLIENT_URL=http://localhost:5173
OPENAI_API_KEY=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
GEMINI_API_KEY=AIzaSyAj4GA6dOf4uxzyuiyyeGlRxrIWwIOc4KA
GROQ_API_KEY=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